<div align="center">
  <h1><%= "spotME" %></h1>
  <p><%= "Welcome to the ultimate Bodybuilding Web App!"%></p>
  <p><%= "Sign in or Register below!" %></p>
</div>

<br></br>
<div align="center">
  <%= link_to "Sign In", signin_path %>
<br></br>
  <%= link_to "Register", new_user_path %>
</div>
