<div align="center">
  <h1><%= "spotME" %></h1>
  <p><%= "Welcome to the ultimate web buddy App!"%></p>
  <p><%= "Sign in or Register below!" %></p>
</div>


<div>
  <%= link_to signin %>
  <%= link_to register %>
</div>
